# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Build and distribution
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints
*.nbconvert.ipynb

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db
